<div id="volunteerList" *ngIf=!selectedVolunteer>
    <!-- <span class="showHand" *ngFor="let skill of skills" (click)= "selectedSkills = skills">{{skill}} | </span> -->
    Number of Volunteers Total: {{numberOfTotalVolunteers()}}
    <br>
    Volunteers with Computer Usage skills: {{getNumVolunteerSkills()}}
    <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Skill</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let volunteer of volunteers" (click)="selectedVolunteer = volunteer;">
            <td>{{volunteer.id}}</td>
            <td>{{volunteer.fname | uppercase}} {{volunteer.lname | uppercase}}</td>
            <td>{{volunteer.skills}}</td>
            <td (click)="deleteVolunteer(volunteer.id)"> <button class="btn btn-danger">X</button> </td>
          </tr>
        </tbody>
      </table>
</div>
<br>

<div id="createNewVolunteer" *ngIf="!selectedVolunteer">
  <form action="">
    <input type="text" name="fname" [(ngModel)]="newVolunteer.fname" placeholder="first name"><br>
    <input type="text" name="lname" [(ngModel)]="newVolunteer.lname" placeholder="last name"><br>
    <input type="text" name="phone" [(ngModel)]="newVolunteer.phone" placeholder="phone"><br>
    <input type="text" name="email" [(ngModel)]="newVolunteer.email" placeholder="email"><br>
    <input type="text" name="status" [(ngModel)]="newVolunteer.status" placeholder="status"><br>
    <input type="text" name="skills" [(ngModel)]="newVolunteer.skills" placeholder="skills"><br>
    <input type="text" name="availability" [(ngModel)]="newVolunteer.availability" placeholder="availability"><br>
    <input type="submit" value="Create New Volunteer" (click)="createNewVolunteer()">
  </form>
<br>
</div>
<div id="oneVolunteer" *ngIf="selectedVolunteer">
      <ul *ngIf="selectedVolunteer">
        <li>Full Name: {{ selectedVolunteer.fname | uppercase}} {{selectedVolunteer.lname | uppercase}}</li>
        <li>Phone: {{ selectedVolunteer.phone }}</li>
        <li>Email: {{ selectedVolunteer.email }}</li>
        <li>Status: {{ selectedVolunteer.status }}</li>
        <li>Skills: {{ selectedVolunteer.skills }}</li>
        <li>Availability: {{ selectedVolunteer.availability }}</li>
      </ul>
  <form>
    <label for="fname">First Name</label>
    <input type="text" name="fname" [(ngModel)]="selectedVolunteer.fname"><br>

    <label for="lname">Last Name</label>
    <input type="text" name="lname" [(ngModel)]="selectedVolunteer.lname"><br>

    <label for="phone">Phone</label>
    <input type="text" name="phone" [(ngModel)]="selectedVolunteer.phone"><br>

    <label for="email">Email</label>
    <input type="text" name="email" [(ngModel)]="selectedVolunteer.email"><br>

    <label for="status">Status</label>
    <input type="text" name="status" [(ngModel)]="selectedVolunteer.status"><br>

    <label for="skills">Skills</label>
    <input type="text" name="skills" [(ngModel)]="selectedVolunteer.skills"><br>

    <label for="availability">Availability</label>
    <input type="text" name="availability" [(ngModel)]="selectedVolunteer.availability"><br>

    <button class="btn btn-primary" (click)="updateVolunteer()">Save</button>
    <button class="btn btn-primary" (click)="deleteVolunteer(selectedVolunteer.id)">Delete</button>
  </form>
</div>
